<!DOCTYPE html>

<html>
   <head>
      <title>Mark's: Portfolio App</title>
      <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
    <h1>Mark's: Portfolio App</h1>
    <hr />
    
   <div class = "container">
     <ul>
       <li><a href = "/timestamp" target = "_blank">Timestamp Microservice</a></li>
       <li><a href = "/requestHeaderParser" target = "_blank">Request Header Parser</a></li>

     </ul>
   </div>
  </body>
</html>
